* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* Main */

body {
    background-color: #999;
    background-color: #b2d9ff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 15px;
    margin: 0px;
    overflow-y: hidden;
}

header {
    /* position: absolute; */
    background-color: #28A282;
    padding: 0.5rem 0;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    margin: 0px;
}

#navbar {
    display: flex;
    margin: 0px;
    margin-bottom: 50px;
    background-color: #76B7DA;
    padding: 10px
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #e8bb68;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    font-size: 15px;
}

/* Grid */

#grid {
    display: inline-grid;
    grid-template-columns: repeat(var(--width), 40px);
    grid-template-rows: repeat(var(--height), 40px);
    border: 2px solid black;
    padding: 2px;
    gap: 2px;
}

#grid .node {
    border: 1px solid black;
    background-color: #e1e4e5;
}

#grid .node[data-type="empty"] {
    background-color: #EEE;
}

#grid .node[data-type="wall"] {
    background-color: #555;
}

#grid .node[data-type="start"] {
    background-color: lime;
}

#grid .node[data-type="end"] {
    background-color: red;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: blue;
}

#navbar input,button,select {
    width: 60px;
    margin: 10px;
    box-sizing: border-box;
}

#navbar select {
    width: auto;
}

