* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    background-color: #DEDEDB;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 15px;
    margin: 0px;
    overflow-y: hidden;
}

header {
    background-color: #28A282;
    padding: 0.5rem 0;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    margin: 0px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #e8bb68;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    font-size: 15px;
}

#grid {
    display: inline-grid;
    grid-template-columns: repeat(var(--width), 40px);
    grid-template-rows: repeat(var(--height), 40px);
}

#grid .node {
    margin-bottom: -1px;
    margin-right: -1px;
    border: 1px solid black;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: blue;
}
